// .babelrc
{
  "env": {



    "node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },

    "node6": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "6"
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },

    "node4": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },

    "browser": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
         "browsers": [
          ">1%"
        ]
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },


    "ie": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
         "browsers": [
          "ie >= 6"
        ]
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },




    "dev": {
      "presets": [
        "?@babel/preset-env"
      ],
      "plugins": [
        "x"
      ]
    }
  }
}
